.stay-preview {
    width: 244px;
    margin-bottom: 6px;
    // height: 264;
    // .stay-image-container {
    //     width: 200px;
    //     height: 200px;
    // }
    .stay-image-container {
        margin-bottom: 25px;
        img {
            width: 100%;
            border-radius: 8px;
        }
    }

    .description div {
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .description ul {
        // font-size: rem(16px);
        flex-wrap: wrap;
        
            li {
                margin-right: 15px;
            }
        
    }

}