.stay-search {
    background-color: $clr1;
    flex-direction: column;
    border-radius: 2rem;
    cursor: pointer;
    .search-bar {
        border-radius: 2rem;
        border: 1px solid gray;
    }
    
    form {
        position: absolute;
        right: 24%;
        top: 90%;
        border: 1px solid gray;
        cursor: pointer;
        border-radius: 2rem;
        background-color: $clr1;
        label {
            color: $clr3;
        }
        input,
        label {
            cursor: pointer;
            border: none;
            outline: none;
            background-color: inherit;
            border-radius: 2rem;
        }
        button {
            border-radius: 50%;
            height: 40px;
            margin: .2rem;
        }
        .search-input {
            border-radius: 2rem;
            transition: ease-in-out .3s;
            padding:.1rem 0 .1rem 2rem;
            &:hover {
                background-color: darken($clr1, 10%);
            }
        }
    }
}
