.stay-filter {
    background-color: $clr1;
    border-radius: 2rem;
    // width: rem(650px);
    position: absolute;
    top: rem(150px);
    
    form {
        width: 100%;
        border-radius: 2rem;
        input,
        label {
            border: none;
            outline: none;
            background-color: inherit;
            cursor: pointer;
            border-radius: 2rem;
            // width: 100%;
        }
        .search-input {
            border-radius: 2rem;
            padding: .3rem 0;
            transition: ease-in-out .3s;
            padding-inline-start: 2rem;
            &:not(:last-child){
            }
            &:hover {
                background-color: darken($clr1, 10%);
            }
            .date-container {
                align-items: baseline;
            }
            span {
                margin-inline-end: 1rem;
            }
        }
    }
}
