* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Roboto-Regular;
    color: $clr2;
}

body {
<<<<<<< HEAD
    // background-color: antiquewhite;
    background-color:$clr1;
}

img {
    width: 100%;
=======
    background-color:$clr1;
>>>>>>> 6d768ebed8e6f5ad85fa6e428712950daed8518c
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Roboto-Bold;
    font-weight: normal;
}

button {
    font-family: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

a {
    color: $clr3;
    outline: none;
    text-decoration: none;
}