* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: $clr1;
    color: #fff;
}

html {
    font-family: Roboto-Regular;
    color: $clr2;
}

body {
    background-color: antiquewhite;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Roboto-Bold;
    font-weight: normal;
    line-height: 1;
}

button {
    font-family: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

a {
    color: $clr3;
    outline: none;
    text-decoration: none;
}
