
.primary-btn {
    font-size: em(1px);
    padding: em(6px) em(15px);
    background-color: $clr1;
    transition: color .3s;
    min-width: 48px;
    min-width: 48px;

    &:hover{
        color: $clr2;
    }

    &:active{
        color: $clr2;
    }
}

.btn-grd {
    background: linear-gradient(185deg, $clr4 0%, $clr5 100%);
   
}
