.stay-home {
    .home-hero{
        background: url(https://res.cloudinary.com/duhcvi6p4/image/upload/v1622288003/real-estate-4955087_1920_hdmmma.jpg)
        no-repeat;
        background-position: center center;
        background-size: cover;
        height: 100vh;
    }
    .best-loc {
        margin-block-end: rem(100px);
        .stay-list {
            width: 100%;
        }
    }

    .become-host {
        height: rem(360px);
        background-color: $clr3;
        margin-block-end: rem(75px);
    }
}