
.details-header-container {

    padding-top: rem(24px);

    h1 {
        font-size: rem(28px);
        font-family: Roboto-Medium;
        color: $clr3;
    }

    .details-header-details {
        margin-top: rem(4px);

        .details-header-desc {
            align-items: center;
            font-size: rem(14px);

            svg {
                width: rem(20px);
                padding-bottom: rem(0.5px);
            }

            .details-header-dot {
                font-size: 1rem;
                margin: 8px 8px 6px;

            }
        }
        
        .details-header-save {
            font-size: rem(14px);
            color: $clr3;
            text-decoration: underline;
            padding: rem(8px);
            border-radius: rem(8px);

            &:hover {
                background-color: $clr7;
            }

            svg {
                width: rem(22px);
                padding-right: 4px;
            }
        }
    }
}

.host-main-container {
    padding-top: rem(48px);

    .host-header-container {
        padding-bottom: rem(24px);
        border-bottom: 1px solid $clr7;
        color: $clr3;
        font-family: Roboto-light;

        h2 {
            color: $clr3;
            font-family: Roboto-medium;
            font-size: rem(22px);
            margin-bottom: rem(8px);
        }
    }

    .asset-details-container {

        padding-top: 32px;
    }

    .staybook-modal-container {
        min-width: rem(424px);
        & > * {
            margin-left: 75px;
        }
    }


}




// .details-gallery-container {
//     display: grid;
    
//     grid-template-columns: repeat(4, 200px);
//     grid-template-rows: repeat(2, 200px);

//     // grid-template-areas:
//     // // "img-1 img-1 img-2 img-3"
//     // // "img-1 img-1 img-4 img-5"
//     // ;

//     .details-img-container {
//         // width: 200px;
//         // height: 200px;

//         img {
//             width: 100%;
//         }

//         .img-1 {
//             grid-area: 1 / 1 / 3 / 3;
//         }.img-2 {
//             grid-area: img-2;
//         }.img-3 {
//             grid-area: img-3;
//         }.img-4 {
//             grid-area: img-4;
//         }.img-5 {
//             grid-area: img-5;
//         }

//     }

// }
