
.details-header-container {

    padding-top: rem(24px);

    h1 {
        font-size: rem(28px);
        font-family: Roboto-Medium;
        color: $clr3;
    }

    .details-header-details {
        margin-top: rem(4px);

        .details-header-desc {
            align-items: center;
            font-size: rem(14px);

            a {
                text-decoration: underline;
                color: $clr2;
                cursor: pointer;
            }

            svg {
                width: rem(20px);
                padding-bottom: rem(0.5px);
            }

            .details-header-dot {
                font-size: 1rem;
                margin: rem(8px) rem(8px) rem(6px);
            }
        }
        
        .details-header-save {
            font-size: rem(14px);
            color: $clr3;
            text-decoration: underline;
            padding: rem(8px);
            border-radius: rem(8px);

            &:hover {
                background-color: $clr7;
            }

            svg {
                width: rem(22px);
                padding-right: 4px;
            }
        }
    }
}

.host-main-container {
    padding-top: rem(48px);

    .host-header-container {
        padding-bottom: rem(24px);
        border-bottom: 1px solid $clr7;
        color: $clr3;
        font-family: Roboto-light;

        h2 {
            color: $clr3;
            font-family: Roboto-medium;
            font-size: rem(22px);
            margin-bottom: rem(8px);
        }
    }

    .asset-details-container {

        padding: rem(32px) 0;
        border-bottom: 1px solid $clr7;

        .about-asset-container {

            & > *:not(:last-child) {
                margin-bottom: rem(24px);
            }

            h4 {
                color: $clr3;
                font-family: Roboto-medium;
                font-size: 1rem;
                margin-bottom: rem(4px);
            }

            p {
                font-size: rem(14px);
                font-family: Roboto-light;
            }

            svg {
                margin-right: rem(16px);
                max-width: rem(26px);
                max-height: rem(26px);
            }
        }
    }

    .staybook-modal-container {
        min-width: rem(424px);
        & > * {
            margin-left: 75px;
        }
    }


}

.details-gallery-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-template-rows: repeat(2, minmax(100px, 1fr));
    grid-template-areas:
    "img-1 img-1 img-2 img-3"
    "img-1 img-1 img-4 img-5"
    ;
    grid-gap: 8px;

        img {
            width: 100%;
            height: 100%;
        }

        .img-1 {
            grid-area: img-1;
            img {
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }
        }
        .img-2 {
            grid-area: img-2;
        }
        .img-3 {
            grid-area: img-3;
            img {
                border-top-right-radius: 8px;
            }
        }
        .img-4 {
            grid-area: img-4;
        }
        .img-5 {
            grid-area: img-5;
            img {
                border-bottom-right-radius: 8px;
            }
        }
}
