// Colors
$clr1: #fdfdfd;
$clr2: #717171;
$clr3: #222;
$clr4: rgba(111,52,250,1);
$clr5: rgba(165,16,245,1);

//Box shadows
$boxShadow1: rgba(149, 157, 165, 0.2) 0px 8px 24px;

// Breakpoints
$mobile-breakpoint: 550px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 860px;